# Reporting Service Configuration
RACK_ENV=development

# MariaDB
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=reporting_password
MARIADB_DATABASE=reporting_service

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
